* {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1.7em;
}

/*--------- MOBILE FIRST :) ----------*/

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #262d3f;
}

body p {
    padding: 0em 2em 3em 2em;
    text-align: justify;
}

body a {
    color: #262d3f;
}

#container {
    width: 100%;
}

.photo {
    position: relative;
    overflow: hidden;
}

.photo img {
    width: 100%;
    height: auto;
}

/*-----------menu-----------*/

.menu {
    position: fixed;
    top: 0;
    margin: 0 0 3em 0;
    padding: 1em 0 1em 0;
    height: 4em;
    width: 100%;
    box-shadow: 0 2px 4px -2px rgb(214, 213, 213);
    z-index: 400;
    background-color: #fff;
    transition: top .3s ease-in-out;
}

.mobileMenu {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px -2px rgb(214, 213, 213);
    background-color: white;
    z-index: 400;
}

.mobileMenu ul {
    display: block;
}

.mobileMenu ul li {
    list-style-type: none;
    text-align: left;
    padding: 1em 0 1em 2em;
    display: block;
}

.menu ul {
    list-style-type: none;
}

.menu ul > li {
    display: inline-block;
    margin-right: 1em;
    margin-left: 1em;
}

.menu ul li.desktopMenu {
    display: none;
}

.menu ul li.dropdownIcon {
    float: right;
    display: block;
    background-color: #28d8d8;
    color: #ffffff;
    padding: 1em 1.4em;
    margin-bottom: 1em;
}

.mobileMenu li.dropdownIcon {
    display: none;
}

.menu ul li.dropdownIcon a {
    color: #ffffff;
    display: block;
}
.menu ul li.dropdownIcon a:hover {
    color: #262d3f;
}

.mobileMenu ul li.dropdownIcon a:hover {
    color: #fff;
}

.menu ul > li a {
    text-decoration: none;
    color: #262d3f;
}

.mobileMenu ul li a {
    text-decoration: none;
    color: #262d3f;
}

.menu ul > li a.mk {
    color: #ff423c;
}

.mobileMenu ul > li a.mk {
    color: #ff423c;
}

.menu ul > li a:hover {
    color: #28d8d8;
}
.mobileMenu ul > li a:hover {
    color: #28d8d8;
}
.menu ul > li a:active {
    color: #28d8d8;
}
.mobileMenu ul > li a:active {
    color: #28d8d8;
}

/*------------ header -------------*/

.short-description {
    margin: 8em 1.5em 5em 1.5em;
    line-height: 1.7em;
}


.name {
    color: #ff423c;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 2em;
}

/* ------------ main ---------------*/

.about {
    background-color: #ebe9e8;
}

.about {
    position: relative;
    width: 100%;
    top: -.5em;
}

.skills {
    width: 90%;
    margin: 0 auto;
}

/*------- nagłówek sekcji ----------*/

.headline {
    margin: 0;
    padding-top: 5em;
    padding-bottom: 6em;
    width: 100%;
    margin: 0 auto;
}
.headline h1 {
    font-size: 2em;
    font-weight: 100;
    margin: 0;
}

.headline hr {
    width: 5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .3em;
    height: .3em;
    background-color: #ff423c;
    border: 0;
}

/*----------- umiejętności -----------*/

.skills-logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 3rem;
    max-width: 80vw;
}

.skills-logos img {
    width: 100%;
    max-width: 5rem;
    align-self: center;
}

.skills-logos img.smaller-img {
    max-width: 4rem;
    padding: 0 .5rem 1rem;
}

.skills-logos p {
    width: 100vw;
    padding: .5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.skills-logos p.second {
    margin-top: 2rem;
}

/*-------- projekty -----------*/

.portfolio {
    background-color: #ebe9e8;
    width: 100%;
    height: 100%;
}

.projects {
    width: 80%;
    margin: 3rem auto 0;
    text-align: center;
}

.project {
    width: 80vw;
    max-width: 30em;
    text-align: center;
    margin: 0 auto 6rem auto;
    border-radius: 5px;
    background-size: cover;
    box-sizing: border-box;
}

.project img {
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 5px;
}

.project img:hover {
    opacity: .8;
}

.description {
    display: block;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.description a:hover {
    text-decoration: none;
}

/*----------------------------kontakt------------------------------*/

.contact {
    width: 90%;
    margin: 0 auto 6em auto;
}

.form {
    width: 80%;
    max-width: 30em;
    height: 100%;
    margin: 0 auto;
}

.contact-form {
    border: 0;
    border-bottom: 1px solid #d3d1d1;
    outline: none;
    text-align: left;
    padding-bottom: .3em;
    width: 70%;
    margin: 0 auto 2em auto;
    font-family: 'Montserrat', sans-serif;
}

.contact-form::placeholder {
    color: #28b5d8;
}

button {
    font-family: 'Montserrat', sans-serif;
    background-color: #ff423c;
    color: white;
    font-weight: bold;
    border: 0;
    padding: 1em;
    border-radius: 2em;
    width: 15em;
    outline: none;
    cursor: pointer;
}

button:hover {
    background-color: #f51912;
}

button:active {
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #bbbaba;
}

footer {
    background-color: #ebe9e8;
    width: 100%;
    height: 3em;
    text-align: center;
    font-size: .8em;
    padding: 2em 0 0 0;
}

/*-------------------- media queries ------------------------------------*/

/*------- tablets ---------*/

@media (min-width:776px) {

    body p {
        padding: 0em 2em 3em 2em;
        width: 40%;
        text-align: justify;
        display: inline-block;
        vertical-align: top;
    }

    .photo {
        text-align: left;
        position: absolute;
        top: 0;
        right: 0;
        width: 30em;
        overflow: hidden;
        z-index: 450;
    }

    .photo img {
        display: block;
        width: 100%; 
        margin: 0 0 0 10em;
    }

    .menu {
        border: 0;
    }

    .menu ul {
        text-align: left;
        padding-top: 1.2em;
        margin-left: 3em;
    }

    .menu ul li.desktopMenu {
        display: inline-block;
    }

    .menu ul li.dropdownIcon {
        display: none;
    }

    .short-description {
        margin: 13em 0 0 4em;
        width: 50%;
        height: 18.1em;
    }

    .short-description p {
    text-align: left;
    width: 50%;
    }

    .name {
        margin-bottom: 1em;
        text-align: left;
    }

    .text {
        text-align: left;
    }

    /*---------------- o mnie ---------*/

    .about {
        padding-bottom: 3em;
    }

    /*------  umiejętności  -----------*/

    .skills {
        position: relative;
        margin: 0 auto;
        width: 90%;
        overflow: hidden;
    }
    #skill-icon {
        margin: 0 auto;
    }

    #skill-icon img {
        padding: 1.5em 5% 0 0;
    }

    .skill-table-header {
        width: 93%;
        margin: 0 auto;
        top: 2em;
    }

    #all-skills {
        margin: 0 auto 5em auto;
        width: 90%;
        padding: 2em 0 1em 0;
        box-sizing: border-box;
    }

    .my-skills {
        width: 40%;
        margin: 0;
    }
    #js {
        padding-left: 42%;
    }

    .proggres-bar {
        width: 60%;
    }

/*---------- projekty -----------*/

    .portfolio {
        position: relative;
        top: 5em;
    }

    .projects {
        display: inline-block;
    }

    .project {
        display: inline-block;
        width: 23vw;
        height: 23vw;
        margin: 0 .5em 0 .5em;
    }

    /*------------kontakt-----------*/

    .contact {
        position: relative;
        top: 8em;
    }

    /*-------------stopka------------*/

    footer {
        position: relative;
        top: 8em;
    }
    
}

/*--------------------- desktops --------------------------*/

@media (min-width:1024px) {
    .photo {
        text-align: right;
        position: absolute;
        top: 0;
        right: 0;
    }

    .photo img {
        display: block;
        width: 100%;  
        margin: 0 0 0 5em;
    }

    .menu ul {
        margin-left: 5em;
    }

    .short-description {
        padding-left: 2em;
    }

    #all-skills {
        width: 90%;
    }

    .my-skills {
        width: 40%;
    }

    .project {
        display: inline-block;
        width: 24vw;
        height: 24vw;
    }

}